

.lTREEMenu dl {padding:0;margin:0 0 0 17px;clear:both;}
.lTREEMenu a {background:none; font:12px tahoma,ו,sans-serif;}
.lTREEMenu dd {padding:0;margin:0px;list-style:none;clear:both;}
.lTREEMenu dd input {vertical-align:middle;margin-top:2px;}
.lTREEMenu dt input {vertical-align:middle;margin-top:0;}
.lTREEMenu dd button {width:32px;height:18px;overflow:hidden;cursor:pointer;vertical-align:middle;border:none;background:url(../images/ltree/folder-opened.gif) no-repeat 3px 1px;}
.lTREEMenu dd.folderClose dl {display:none;}
.lTREEMenu dd.folderClose button {background-image:url(../images/ltree/folder-closed.gif);}
.lTREEMenu dd {background:url(../images/ltree/elbow-line.gif) repeat-y 0 0;}
.lTREEMenu dd.lastChild {background:url(../images/ltree/folder-last.gif) no-repeat 0 0;}
.lTREEMenu dt {margin:0px;padding:0 0 0 15px;background:url(../images/ltree/elbow.gif) no-repeat 0 50%;line-height:18px;height:20px;overflow:hidden;}
.lTREEMenu dt.lastChild {background:url(../images/ltree/elbow-end.gif) no-repeat 0 50%;}
.lTREEMenu dd a,
.lTREEMenu dd a:visited {color:#0594E7;font-weight:bold;}
.lTREEMenu dt a,
.lTREEMenu dt a:visited {color:#000;font-weight:normal;}
